{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<section class="min-h-min pb-16 my-16 bg-white dark:bg-transparent">
  <div class="py-8 px-4 mx-auto w-3/4 text-center lg:py-16">
    <h1
      class="mb-4 text-xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">
      OpenSky Visualisation</h1>
    <p class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">View realtime
      aircraft data on a world map or check out the 7-day analysis.</p>
  </div>
  <div class="w-full flex justify-around gap-x-[7%] px-[8%] md:flex-col md:gap-y-[5%] xl:flex-row ">
    <div class="w-full flex group overflow-hidden relative">
      <img class="filter brightness-[0.3] transition group-hover:brightness-100 group-hover:scale-[1.2] duration-300"
        src="static/img/live_map_thumbnail.PNG">
        <a href="live"
        class="absolute origin-centre left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
        inline-flex justify-center items-center py-3 px-5 text-6xl font-medium text-center text-white rounded-lg bg-transparent">
        Live Map
      </a>
    </div>
    <div class="w-full flex group overflow-hidden relative">
      <img class="filter brightness-[0.3] transition group-hover:brightness-100 group-hover:scale-110 duration-300"
        src="static/img/dashboard_thumbnail.png">
        <a href="stats"
        class="absolute origin-centre left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
        inline-flex justify-center items-center py-3 px-5 text-6xl font-medium text-center text-white rounded-lg bg-transparent">
        Analysis
      </a>
    </div>


  </div>
</section>

{% endblock %}