{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <section class="min-h-min pb-16 my-16 bg-white dark:bg-gray-900/70">
    <div class="py-8 px-4 mx-auto w-3/4 text-center lg:py-16">
      <h1
        class="mb-4 text-xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">
        Under construction</h1>
      <p class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Coming soon!</p>
    </div>
  </section>
{% endblock %}