@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-transparent {
      @apply block w-full h-full p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-blue-100 dark:bg-blue-800/30 dark:border-blue-900 dark:hover:bg-blue-800/70;
    }
  }